<!DOCTYPE html>
<html>
<head>
  <title>Phcaccounts</title>
  <%= stylesheet_link_tag    "phcaccounts/application", media: "all" %>
  <%= javascript_include_tag "phcaccounts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
