<!DOCTYPE html>
<html>
<head>
  <title>PHCAccounts System</title>
  <%= stylesheet_link_tag    "phcaccounts/application", media: "all" %>
  <%= javascript_include_tag "phcaccounts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
