<!DOCTYPE html>
<html>
<head>

  <title>PHCAccounts System</title>
  <%= stylesheet_link_tag "phcaccounts/application", media: "all" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!-- Main Container -->
  <div class="container-fluid">
    <div class="row">
      <div class="right-column sisu">
        <div class="row mx-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Container -->

  <%= javascript_include_tag "phcaccounts/application" %>

</body>
</html>
